/* SPDX-License-Identifier: MPL-2.0 */

body {
  color: #f4f7ff;
}

#header,
#refreshCheckboxContainer,
#refreshButtonContainer {
  margin-right: 40px;
  margin-bottom: 30px;
  margin-left: 40px;
  text-align: center;
}

#header {
  margin-top: 45px;
  font-size: 35px;
  font-weight: 500;
}

#refreshCheckbox {
  vertical-align: middle;
  accent-color: #4de7f5;
}

#checkboxLabel {
  font-size: 13px;
}

#refreshButton {
  padding: 8px 40px;
  font-size: 15px;
}
